/* Styles généraux */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Couleur de fond de secours au cas où l'image ne se charge pas */
   
  }
  
  
  /* Ajout d'un espace en haut du corps pour compenser la hauteur de la barre de navigation fixe */
  body {
    margin-top: 50px; /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
  }
  
  
  /* Header */
  header {
    text-align: center;
    padding: 200px 20px; /* Ajustez la valeur pour un meilleur équilibre */
    background-color: #333;
    color: #fff;
    background-image: url('C:/Users/LENOVO/Desktop/Projet web/images/419511526_1408498726726060_2354257604113479345_n.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  @media only screen and (max-width: 600px) {
    header {
      padding: 100px 20px; /* Ajustez la valeur pour les écrans plus petits */
    }
  }
  /* Contenu de la page d'accueil */ 
  main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-style: normal;
    font-weight: normal;
    width: 1000px;  
    background-color: rgb(125, 180, 217);
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  article{
    width: 60%;
    margin:auto;
    padding: 10px;
    
  }
  
  
  
  main p {
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    text-indent: 20px;
  }
  
  
  article img {
    float: right;
    margin: 10px 0 10px 10px;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    
    bottom: 0;
    width: 100%;
}

.contact {
    margin-bottom: 20px; /* Adjust the spacing between Contact and Social Media sections */
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #ffcc00;
}

.social-media img {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
  /* Navbar */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  nav a:hover {
    color: #ffcc00; /* Couleur de survol */
  }
  .img_personnel{
    width: 30px;
  height: 30px;
  border-radius: 50%;
}